body {
    background-color: black;
}

button {
    background-color: transparent;
    color: orangered;
    border: 2px solid orangered;
    margin: 50px;
    padding: 15px 40px;
}

button:hover {
    color: white;
    border-color: #ef8f6e;
    box-shadow: 0 0 0 15px rgba(255, 255, 255, 0);
    animation: pulsar 1.5s infinite;
}

@keyframes pulsar {
    0% {
        box-shadow: 0 0 0 0 #ef8f6e;
    }
}

